.header {
  background-color: #000000; 
  a {
    color: #a7a2a2e6 !important;
  }
  .navbar-toggler {
    border: 1px solid #ffffff;
    // color: #ffffff;
    span{
        color:#FFFFFF;
    }
  }
}
